* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  --scroll-behavior:smooth!important;
  scroll-behavior: smooth!important;
  scroll-padding-top: 5rem!important;
}
a{
  cursor: pointer;
}
.custom-h{
  height: 100vh;
}
.custom-hover{
  color: black;
  transition: 0.5s ease-in-out;
}
.custom-hover:hover{
  color: white;
}
.z-index{
  z-index: 5;
}
.custom-round1{
  border-top-left-radius: 5px;
}
.custom-round2{
  border-top-right-radius: 5px;
}
@media screen and (max-width:575px) {
  .custom-h{
    height: 110vh;
  }
}
